doctype
html
  head
    link(rel="stylesheet" href="style.css")
    title Guest List

  body
    h1 Guest List: 

    div#list
      div Attendees
      each guest in attending
        span= `${guest.name}`
          span= `Guests, ${guest.guests}`
      div Losers
      each guest in notAttending
        span= `${guest.name}`

    a(href="/") Go Back to the Form