doctype
html
  head
    link(rel="stylesheet" href="style.css")
    title Guest List

  body
    h1 Guest List: 

    div#list
      
        //- each imgName in imgNames
        //-   img(src=`/uploads/${imgName}`)

    //- script(src="app.js")